GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
SOURCE_SPREADSHEET_ID=14mPCHuitBOKYjNhISKwcK2KaVJfZcEjC0GDdrpzCNow
INPUT_SPREADSHEET_ID=1Expj4pqdJPcWKEhmh7zTULCTpPqv69xcoqtitlRGrsk
